/*
 * Styles for the #loading div
 */

@import "mo-style-variables";

#incompatible {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  color: $core-white;
  z-index: 10;

  a {
    color: $core-white;
    font-weight: bold;

    &:hover {
      color: $core-green;
    }
  }

  .wrapper {
    max-width: 50rem;
    margin: auto;
    padding: 1rem;

    .combinedlogo {
      position: relative;
      padding-bottom: 30px;

      .moLogo {
        height: 80px;
        display: inline-block;
        margin-right: -113px;
      }

      .infoLabLogo {
        font-size: 28px;
        font-weight: normal;
        display: inline-block;
        position: absolute;
        margin:0;
        padding:0;
        top:64px;
        left: 90px;
        color: $winter-grey;
      }

      .hadcrut4logo {
        position: absolute;
        left:360px;
        top:24px;
        margin:0;
        padding:0;
        color:$core-white;
        font-size: 40px;
        font-weight:normal;
      }
    }

    h3 {
      font-size: 40px;
      font-weight: normal;
    }
    .infotext {
      font-size: 20px;
      font-weight: normal;
    }
  }
}