/*
 * Styles for the #loading div
 */

@import "mo-style-variables";

#loading {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding:0;
  margin:0;

  .wrapper {
    max-width: 50rem;
    margin: auto;
    padding: 1rem;

    .combinedlogo {
      position: relative;

      #moLogo {
        height: 100px;
        display: inline-block;
        margin-right: -113px;
      }

      #infoLabLogo {
        font-size: 45px;
        font-weight: normal;
        display: inline-block;
        position: relative;
        margin:0;
        padding:0 113px 0 0;
        top:-23px;
        left: 113px;
        color: $winter-grey;
      }
    }

    #hadcrut4logo {
      position: relative;
      text-align: center;
      margin:0;
      padding:0;
      color:$core-white;
      font-size: 40px;
      font-weight:normal;
    }

    #hadcrut4text {
      position:relative;
      color:$core-white;
      font-size: 20px;
      font-weight:normal;
      text-align:left;
      margin-left:115px;
      margin-right:115px;
    }

  }

}