/*
 * Styles for the #loading div
 */

@import "mo-style-variables";

#loading {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding:0;
  margin:0;

  #moLogo {
    position: absolute;
    top:15%;
    margin: 0 auto;
    left:20%;
    padding:0;
    margin:0;
    height: 100px;
  }

  #infoLabLogo {
    position:absolute;
    margin: 0 auto;
    top:19.5%;
    left:54%;
    padding:0;
    width:100%;
    color: $core-white;
    font-size: 45px;
    font-weight:normal;
  }

  #hadcrut4logo {
    position:absolute;
    top:38%;
    text-align: center;
    margin:0;
    padding:0;
    width: 100vw;
    color:$core-white;
    font-size: 40px;
    font-weight:normal;
  }

  #hadcrut4text {
    position:relative;
    width: 55vw;
    bottom: 0;
    top: 55%;
    margin: 0 auto;
    color:$core-white;
    font-size: 20px;
    font-weight:normal;
    text-align:center;
  }

}