.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background-color: #93cd0b;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
}
