$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$brand-color: #93cd0b;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: black;
  word-spacing: normal;
  letter-spacing: normal;

  #content {
    position: relative;

    #logo {
      position: absolute;
      height:90px;
    }

  }

}