/*
 * Main style sheet - everything is loaded into this one :)
 */

//@import "lib/reset";
@import "lib/pace-template";
@import "lib/font_emeric";
@import "mo-style-variables";

body {
  font: 100% $font-stack;
  background-color: $core-black;
  padding: 0;
  margin: 0;
  overflow: hidden;

  #content {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: opacity 3s ease;
  }

  .dg.ac{
    display: none;
  }
}

//hack to preload images
body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content:url("/img/slider_handle_normal.svg") url("/img/slider_handle_roll.svg") url("/img/play_normal.svg") url("/img/play_roll.svg");
}

@import "incompatible";
@import "loading";
@import "title";
@import "controls";
@import "annotations";
@import "chart";
@import "info";
